// Responsive breakpoints
@mixin desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin small-mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
